@import 'font.scss';

body{
    width:100wh;
    height:100vh;
    background-image: url('../img/IMG_0684.JPG');
    background-repeat: none;
    background-position: center;
    background-size: cover;
}

.Form {
    text-align: center;
}

#logo {
    text-align: center;
    img{
        margin-top:50px;
        display:inline-block;
        margin-bottom:150px;
    }
}

label{
    width:inherit;
    text-align: center;
}

.select-css {
    color: white;
    display: inline-block;
    font-size: 20px;
    font-family: PlayfairDisplay, serif;
    letter-spacing:0.1rem;
    font-weight: 700;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 40vw; 
    margin: 0; 
    //margin-left:30vw;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius:0;
    border-bottom: 2px solid white;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(0,0,0,0);
    .select-css:hover{
        color:rgba(228, 228, 228, 1);
        border-bottom: 2px solid rgba(228,228,228,1)
    }
}